.typer {
  &--08-0 {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--12-0 {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--32-0 {
    width: 80%;
  }

  &--36-0 {
    width: 60%;
  }

  &--49-0 {
    width: 88%;
    font-size: 1.5rem;
  }

  &--49-1 {
    width: 100%;
    height: 100%;
    transform: rotate(16deg);
  }

  &--51-0 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--51-1 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--52-0 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--52-1 {
    width: 80%;
    font-size: 1.5rem;
  }
}

.checker {
}

.picker {
}

.page20 .foil {
  background-color: transparent !important;
}
