.typer {
  &--08-0 {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--12-0 {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--32-0 {
    width: 80%;
  }

  &--36-0 {
    width: 60%;
  }

  &--49-1 {
    width: 100%;
    height: 100%;
    transform: rotate(16deg);
  }

  &--51-0 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--51-1 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--52-0 {
    width: 80%;
    font-size: 1.5rem;
  }

  &--52-1 {
    width: 80%;
    font-size: 1.5rem;
  }
  //
  // &--52-1 {
  //   font-size: 18px;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 50%;
  // }
}

.checker {
  // &--11-0 {
  //   & + .labelChecker__answer {
  //     width: 12%;
  //     height: 40%;
  //   }
  // }
}

.picker {
  // &--51-0 {
  //   & + .labelPicker__answer {
  //     width: 19%;
  //   }
  // }
}
